docs/
build/
__pycache__/            
data/
checkpoint/
weights/
tb/*.py
tb/*.log
tb/*.bat
tb/*.vcd
tb/*.txt
tb/*.out
tb/hex/*.hex
tb/hex_conv1/*.hex
/scripts
/.*
tb/bin/
tb/logs/
tb/scripts/
tb/archive

# Local software artifacts
SoftWareC++/*.rar
SoftWareC++/kv260_app/
SoftWareC++/reference/

# Generated test vectors / dumps
tb/*.hex